#!/bin/bash

# ============================================================
# WAN
# ============================================================

WAN_INTERFACE="ens3"
WAN6_INTERFACE="ens4"
SERVER_PUBLIC_IP="xxx.xxx.xxx.xxx"

# ============================================================
# WireGuard
# ============================================================

WG_INTERFACE="wg0"
WG_PORT=51820

WG_IPV4="10.50.0.1/24"
WG_IPV6="fd42:42:42::1/64"

WG_SUBNET_V4="10.50.0.0/24"
WG_SUBNET_V6="fd42:42:42::/64"

WG_ENDPOINT_HOST="$SERVER_PUBLIC_IP"

# ============================================================
# Clients
# ============================================================

WG_CLIENTS=("client1")

declare -A WG_CLIENT_IPV4
WG_CLIENT_IPV4["client1"]="10.50.0.10"

declare -A WG_CLIENT_IPV6
WG_CLIENT_IPV6["client1"]="fd42:42:42::10"

# ============================================================
# OpenVPN relay
# ============================================================

OVPN_INTERFACE="tun0"
OVPN_TABLE=100
OVPN_MARK=0x1

# ============================================================
# DNS
# ============================================================

VPN_DNS=("10.200.10.1" ) #"xxx.xxx.xxx")
PUBLIC_DNS=("1.1.1.1" "9.9.9.9")
PUBLIC_DNS6=("fd00::1" "2001:4860:4860::8888")

# ============================================================

BASE_DIR="/opt/vpn-relay"
DOMAIN_FILE="$BASE_DIR/config/domains.txt"

# ============================================================
# IPv6 Corporate Policy
# ============================================================

IPV6_CORPORATE_MODE="block"   # block | allow
